
/*registerpage Screen*/
.registerpage{
  display:flex;
  flex-direction: column;
  height:100%;
  justify-content:top;
}

.registerpage-header{
  margin-top:30%;
  display:flex;
  flex-direction:row;
}

.registerpage-header-img{
  margin:15px;
  margin-left: 25px;
}

.registerpage-header-title{
  margin-top:13.934%;
  /* margin-left:5px; */
}

.registerpage-input{
  margin-top:10px;
  padding:25px;
  /* background: linear-gradient(#d9d9d9, white); */
  /* border: 2px solid white; */
  border-radius: 30px;
  /* height:40%; */
  margin-left:10px;
  margin-right:15px;
  /* margin-bottom:25px; */
  color:white;
}

.registerpage-input-email{
  margin-top:15px;
  padding-left:5px;
  padding-right:5px;
}

.registerpage-header-title-text{
  display:flex;
  justify-content: center;
  width:100%;
  font-size:24px;
  font-weight:bold;
  color:white;
}

.registerpage-input-email-input input{
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom:3px solid rgb(255, 255, 255);
  background-color: inherit;
  transition: opacity 0.3s ease-out;
  width:100%;
  height:25px;
}

.registerpage-input-email-subtitle{
  color:rgb(255, 255, 255);
  font-size:20px;
}

input, select, textarea{
    color: #ffffff;
}

.registerpage-input-email-input input:focus{
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom:3px solid #a7a7a7;
  outline:a none;

}

::placeholder {
  color: #c9c9c9;
  opacity: 90;
  font-family: "Nunito", sans-serif;
}

::-ms-input-placeholder {
  /* color: white; */
  font-family: "Nunito", sans-serif;
}

/*DECLERATION*/

.registerpage-input-password{
  margin-top:25px;
  padding-left:5px;
  padding-right:5px;
  color:white;
}


.registerpage-input-password-input input{
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom:2px solid black;
  background-color: inherit;
  transition: opacity 0.3s ease-out;
  width:100%;
  height:25px;
}

.registerpage-input-password-subtitle{
  color:black;
  font-size:20px;
}

.registerpage-input-password-input input:focus{
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom:2px solid #000000;
  outline: none;
}

.privacy_policy{
  margin-top:20px;
  margin-left:5px;
  margin-right:5px;
  display:flex;
  flex-direction: row;
}

.checkbox{
  margin-top:5px;
  margin-right:5px;
  text-decoration: none;
}

.link{
  color: #2591fe;
  text-decoration: none;
}

.registerpage-button{
  display: flex;
  justify-content: center;
}

.registerpage-button button{
  width:80%;
  background: linear-gradient(#c4c0c0, white);
  border:none;
  height:50px;
  text-align:left;
  margin-top:30px;
  margin-left:2px;
  margin-right:7px;
  border-radius:35px;
  padding-left:25px;
  font-size:16px;
  color:black;
  font-family: "Work Sans", sans-serif;
  margin-bottom:20px;
}

.registerpage-button button i{
  margin-right: 5px;
}






