@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
  margin:0;
  padding:0;
  /* border: 0.5px solid red; */
}

html {
  height: 100%;
  width: 100%;
}

/*Stylised Special*/
.headerText{
  font-size:33px;
  font-weight:bold;
}

::-webkit-scrollbar {
  display:none;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius:1cm;
  z-index:-115;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius:15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


body{
  width:100%;
  height:100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  overflow: hidden;
  font-family: "Nunito", sans-serif;
}

.phone{
  border: 10px solid black;
  width: 350px;
  height:700px;
  border-radius:44px;
  margin-top:65px;
  z-index: 5;
  background: linear-gradient(#2A2A28, black);
  position: relative;
}

/*Welcome Screem*/
.welcome{
  display:flex;
  flex-direction: column;
  z-index: -1;
  border-radius:31px;
  width:100%;
  height:100%;
  background: linear-gradient(#2A2A28, black);
  justify-content: end;
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

.welcome-logo-img{
  display:flex;
  justify-content: center;
}

/* .welcome-center{
  display:flex;
  justify-content:center;
} */

.welcome-logo{
  display: flex;
  flex-direction:column;
  justify-content: center;
  margin-bottom:20px;
  /* width:100%; */
}

.welcome-logo-text{
  display:flex;
  justify-content: center;
  width:100%;
  font-size:35px;
  font-weight:bold;
  color:white;
}

.welcome-button{
  display: flex;
  flex-direction: column;
  /* height:30%; */
  width:100%;
  align-items:center;
  justify-content: end;
}

.welcome-button button{
  width:90%;
  background: linear-gradient(#d9d9d9, white);
  border:none;
  height:50px;
  text-align:left;
  margin:10px;
  border-radius:35px;
  padding-left:25px;
  font-size:16px;
  color:black;
  font-family: "Work Sans", sans-serif;
  margin-bottom:20px;
}

.welcome-button i{
  margin-left: 5px;
}

/*Login Screen*/

.login{
  display:flex;
  flex-direction: column;
  z-index: -1;
  border-radius:31px;
  width:100%;
  height:100%;
  background: linear-gradient(#2A2A28, black);
  justify-content: end;
}

.login-logo-header{
  display:flex;
  flex-direction: none;
  height:20%;
  width:100%;
  justify-content: center;
}

.contentadv{
  display:flex;
  flex-direction: row;
  height:30%;
  margin:5px;
}


.login-logo-header .headerText{
  color: white;
  height:100%;
  margin-top:10%;
  margin-left:10px;
}

.login-logo-header img{
  /* margin: 20px; */
  margin:auto;
}

.options{
  display: flex;
  flex-direction: column;
  height:30%;
  width:100%;
  align-items:center;
}

.options button{
  width:90%;
  background: linear-gradient(#d9d9d9, white);
  border:none;
  height:50px;
  text-align:left;
  margin:10px;
  border-radius:35px;
  padding-left:25px;
  font-size:16px;
  color:black;
  font-family: "Work Sans", sans-serif;
}

.options button i{
  margin-right:5px;
}

/*Loginpage Screen*/
.loginpage{
  display:flex;
  flex-direction: column;
  height:100%;
  justify-content:top;
}

.loginpage-header{
  margin-top:30%;
  display:flex;
  flex-direction:row;
}

.loginpage-header-img{
  margin:15px;
  margin-left: 25px;
}

.loginpage-header-title{
  margin-top:13.934%;
  /* margin-left:5px; */
}

.loginpage-input{
  margin-top:10px;
  padding:25px;
  /* background: linear-gradient(#d9d9d9, white); */
  /* border: 2px solid white; */
  border-radius: 30px;
  /* height:40%; */
  margin-left:10px;
  margin-right:15px;
  /* margin-bottom:25px; */
  color:white;
}

.loginpage-input-email{
  margin-top:15px;
  padding-left:5px;
  padding-right:5px;
}

.loginpage-header-title-text{
  display:flex;
  justify-content: center;
  width:100%;
  font-size:24px;
  font-weight:bold;
  color:white;
}

.loginpage-input-email-input input{
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom:3px solid rgb(255, 255, 255);
  background-color: inherit;
  transition: opacity 0.3s ease-out;
  width:90%;
  height:25px;
  margin:5px;
  color:white;
}

.loginpage-input-email-subtitle{
  color:rgb(255, 255, 255);
  font-size:20px;
  font-weight:bold;
}

input, select, textarea{
    color: #ffffff;
}

.loginpage-input-email-input input:focus{
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom:3px solid #a7a7a7;
  outline: none;
  color:white;

}

::placeholder {
  color: #c9c9c9;
  opacity: 90;
  font-family: "Nunito", sans-serif;
}

::-ms-input-placeholder {
  /* color: white; */
  font-family: "Nunito", sans-serif;
}

/*DECLERATION*/

.loginpage-input-password{
  margin-top:25px;
  padding-left:5px;
  padding-right:5px;
  color:white;
}


.loginpage-input-password-input input{
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom:2px solid black;
  background-color: inherit;
  transition: opacity 0.3s ease-out;
  width:100%;
  height:25px;
  padding:10px;
  color:white;
}

.loginpage-input-password-subtitle{
  color:white;
  font-weight:bold;
  font-size:20px;
}

.loginpage-input-password-input input:focus{
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom:2px solid #000000;
  outline: none;
}

.privacy_policy{
  margin-top:20px;
  margin-left:5px;
  margin-right:5px;
  display:flex;
  flex-direction: row;
}

.checkbox{
  margin-top:5px;
  margin-right:5px;
  text-decoration: none;
}

.link{
  color: #2591fe;
  text-decoration: none;
}

.loginpage-button{
  display: flex;
  flex-direction:row;
  justify-content: center;
  text-decoration:none;
}

.loginpage-button a{
  width:80%;
  height:100%;
  background: linear-gradient(#c4c0c0, white);
  border:none;
  height:30px;
  text-align:left;
  margin-top:35px;
  border-radius:40px;
  padding-left:25px;
  padding-bottom:5px;
  padding-top:15px;
  font-size:16px;
  color:black;
  font-family: "Work Sans", sans-serif;
  /* margin-bottom:20px;
  margin-right: 5px; */
  text-decoration:none
}


.loginpage-button a i{
  margin-right: 5px;
}


/* Register Page */

/*registerpage Screen*/
.registerpage{
  display:flex;
  flex-direction: column;
  height:100%;
  justify-content:top;
}

.registerpage-header{
  margin-top:30%;
  display:flex;
  flex-direction:row;
}

.registerpage-header-img{
  margin:15px;
  margin-left: 25px;
}

.registerpage-header-title{
  margin-top:13.934%;
  /* margin-left:5px; */
}

.registerpage-input{
  margin-top:10px;
  padding:25px;
  /* background: linear-gradient(#d9d9d9, white); */
  /* border: 2px solid white; */
  border-radius: 30px;
  /* height:40%; */
  margin-left:10px;
  margin-right:15px;
  /* margin-bottom:25px; */
  color:white;
}

.registerpage-input-email{
  margin-top:15px;
  padding-left:5px;
  padding-right:5px;
  color:white;
}

.registerpage-header-title-text{
  display:flex;
  justify-content: center;
  width:100%;
  font-size:24px;
  font-weight:bold;
  color:white;
}

.registerpage-input-email-input input{
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom:3px solid rgb(255, 255, 255);
  background-color: inherit;
  transition: opacity 0.3s ease-out;
  width:90%;
  height:25px;
  margin:5px;
  color:white;
}

.registerpage-input-email-subtitle{
  color:rgb(255, 255, 255);
  font-weight:bold;
  font-size:20px;
}

input, select, textarea{
  color: #ffffff;
}

.registerpage-input-email-input input:focus{
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom:3px solid #a7a7a7;
  outline:none;
  color:white;

}

::placeholder {
  color: #c9c9c9;
  opacity: 90;
  font-family: "Nunito", sans-serif;
}

::-ms-input-placeholder {
  /* color: white; */
  font-family: "Nunito", sans-serif;
}

/*DECLERATION*/

.registerpage-input-password{
  margin-top:25px;
  padding-left:5px;
  padding-right:5px;
  color:white;
}


.registerpage-input-password-input input{
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom:2px solid black;
  background-color: inherit;
  transition: opacity 0.3s ease-out;
  width:100%;
  height:25px;
}

.registerpage-input-password-subtitle{
  color:black;
  font-weight:bold;
  font-size:20px;
}

.registerpage-input-password-input input:focus{
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom:2px solid #000000;
  outline:none;
}

.privacy_policy{
  margin-top:20px;
  margin-left:5px;
  margin-right:5px;
  display:flex;
  flex-direction: row;
}

.checkbox{
  margin-top:5px;
  margin-right:5px;
  text-decoration: none;
}

.link{
  color: #2591fe;
  text-decoration: none;
}

.registerpage-button{
  display: flex;
  flex-direction:row;
  justify-content: center;
  text-decoration:none;
}

.registerpage-button a{
  width:80%;
  height:100%;
  background: linear-gradient(#c4c0c0, white);
  border:none;
  height:30px;
  text-align:left;
  margin-top:35px;
  border-radius:40px;
  padding-left:25px;
  padding-bottom:5px;
  padding-top:15px;
  font-size:16px;
  color:black;
  font-family: "Work Sans", sans-serif;
  /* margin-bottom:20px;
  margin-right: 5px; */
  text-decoration:none
}


.registerpage-button a i{
  margin-right: 5px;
}


/* tandc */
.tandc-header{
  color:#2591fe;
  margin: 20px;
  margin-top:40px;
  margin-left:29px;
  font-weight: bolder;
}

.tandc-header-title{
  font-size: 25px;
}

.tandc-conditions{
  display:flex;
  flex-direction:column;
  margin-top:5px;
  border-radius:25px;
}

.tandc-conditions-items{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  color:rgb(0, 0, 0);
  border-radius:25px;
  margin:10px;
}

.tandc-conditions-items-button{
  width:100%;
  
}

.tandc-conditions-items-button button{
  width:90%;
  background: linear-gradient(#d9d9d9, white);
  border:none;
  height:50px;
  text-align:left;
  margin:10px;
  border-radius:35px;
  padding-left:25px;
  font-size:16px;
  color:black;
  font-family: "Work Sans", sans-serif;
  margin-bottom:20px;
}

.tandc-conditions-items-button button i {
  margin-left:5px;
}

input, select, textarea{
  color: #000000;
}

/* personal details */
.personaldetail{
  display:flex;
  flex-direction:column;
  width: 100%;
  height:100%;
  margin-left:15px;
}

.personaldetail-header-title{
  color:#ffffff;
  margin: 10px;
  margin-top:30%;
  /* margin-top:40px;
  margin-left:29px; */
  font-weight: bolder;
  font-size:30px;
}

.white1{
  color:white;
  font-size:15px;
  margin-right:10px;
}

.row{
  display:flex;
  flex-direction: row;
}

.spacing{
  margin-top:25px;
  margin-bottom:25px;
  margin:20px;
  margin-left:10%;
}

.unit{
  color:white;
  margin-left:5px;
}

.personaldetail-button button{
  width:86%;
  background: linear-gradient(#d9d9d9, white);
  border:none;
  height:50px;
  text-align:left;
  margin:10px;
  border-radius:35px;
  padding-left:25px;
  font-size:16px;
  color:black;
  margin-bottom:20px;
  margin-top:35px;
}

.personaldetail-button button i{
  margin-left:5px;
}

/* .personaldetail-button-container{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  color:rgb(0, 0, 0);
  border-radius:25px;
  margin:10px;
} */

/* Homepage */
.homescreen-container{
  display:flex;
  flex-direction:column;
  height:100%;
}

.homescreen-container-header{
  display:flex;
  color:white;
  font-size:10px;
  margin-top:25px;
  margin-left:25px;
  margin-right:25px;
}

.homescreen-container-parts{
  display:flex;
  flex-direction: column;
  margin:15px;
}

.partone{
  display:flex;
  flex-direction:column;
  background-color:#353434;
  border-radius:25px;
  padding:20px;
  color:white;
  margin-bottom:13px;
}

.partone p{
  margin:5px;
}

.parttwo{
  display:flex;
  flex-direction:column;
  background-color:#353434;
  border-radius:25px;
  padding:20px;
  color:white;
  margin-bottom:13px;
}

.parttwo p{
  margin:5px;
}

.partthree{
  display:flex;
  flex-direction:column;
  background-color:#353434;
  border-radius:25px;
  padding:20px;
  color:white;
  margin-bottom:13px;
}

.partthree p{
  margin:5px;
}

.font-bold{
  font-size:19px;
  margin:5px;
}

/* Code Container Start */

/* Code Container End */

/* Navbar */

.navbar-container{
  width:100%;
  display:flex;
  justify-content:center;
}

.navbar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 88%;
  height: 50px;
  background-color: #222222;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index:-100;
  overflow:hidden;
  border-radius:25px;
  margin-left:5%;
  margin-bottom:8%;
}

.navbar i{
  justify-content: center;
  font-size:25px;
  color:#55a5f5;
  padding:15px;
  padding-bottom:17px;
  width:20px;
  height:20px;
}